@charset "utf-8";

/*Base styling - This should be applied on all pages for cohesiveness */

@font-face {
    font-family: Poppins;
    src: url(Fonts/Poppins-Regular.ttf) format('truetype');
}

html {
    height:100%;
    background-image: url(../Images/waterBackground.jpg);
    background-size:cover;
}

* {
    box-sizing: border-box;
}

.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: bisque;
    box-shadow: rgb(51, 51, 51) 15px 0px 25px,
                rgb(51, 51, 51) -15px 0px 25px;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    display: inline-block;
    padding: 10px;
    font-family: Poppins, Verdana, Geneva, sans-serif;    
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}

.alert {
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 10px;
    background: rgba(172, 20, 20, 0.75);
    color: white;
    text-align: center;
    font-family: Poppins, Verdana, Geneva, sans-serif;   
    font-size: 30px;
}

footer {
    width: 100%;
    left:0;
    bottom:0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: darkslategrey;
}

@media (width < 800px) {
    header {
        position: unset;
        width:100%;
    }
}
