@charset "utf-8";

.fullGallery {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.galleryColumn {
    flex:25%;
    width: 25%;
    padding: 0 4px;
}

.displayBox {
    background-color: #FAF9F6;
    padding: 0 6px;
    margin: 5px;
    border-radius: 25px;
    text-align: center;
    width: 100%;
}

.displayBox:hover {
    background-color: #F1EDE4;
}

.galleryArt img {
    width: 70%;
    height: auto;
    padding-top: 15px;
}

.galleryArt figcaption {
    padding: 15px;
}

@media (max-width: 800px) {
    .galleryColumn {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .galleryColumn {
        flex:100%;
        max-width: 100%;
    }
}