@charset "utf-8";

/* Font Imports */

@font-face {
    font-family: Poppins;
    src: url(Fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display';
    src: url(Fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}

/* Carousel Styles */

div#carousel {
    display: -webkit-flex;
    display: flex;
    position: relative;
    width: 100%;
    height:400px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 15px;
    background-color: #F8FEF2;
    box-shadow: rgb(51, 51, 51) 15px 0px 25px,
                rgb(51, 51, 51) -15px 0px 25px;
}

.slides {
    display: none;
    overflow: hidden;
    border-radius: 15px;
}

.slides img {
    width: 1200px;
    position: relative;
    top: -50%;
}

.slides p {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    height:max-content;
    border-radius: 2px;
    font-size: 18px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Poppins, Verdana, Geneva, sans-serif;
    padding: 8px 8px;
    text-align: center;
}

.slides p a {
    background-color: #386D4B;
    color: #F8FEF2;
    padding: 0 1%;
    border-radius: 5px;
}

div#aboutMe {
    display: -webkit-flex;
    display: flex;
    margin: 2%;
    padding: 20px;
    border-radius: 15px;
    background-color: #F8FEF2;
    box-shadow: rgb(51, 51, 51) 15px 0px 25px,
                rgb(51, 51, 51) -15px 0px 25px;
}

div#aboutMe img {
    width: 16%;
    object-fit: contain;
    padding-right: 15px;
}

div#aboutMe h1 {
    font-size: 30px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Playfair Display', serif;
}

div#aboutMe p {
    text-align: left;
    text-indent: 5%;
    font-family: Poppins, Verdana, Geneva, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 20px;
    line-height: 1.2;
}

@media (width < 800px) {
    div#aboutMe {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    div#aboutMe img {
        width: 80%;
        object-fit: contain;
        padding: 15px;
    }

    div#aboutMe p {
        font-family: Poppins, Verdana, Geneva, sans-serif;
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        font-size: 15px;
        line-height: 1.2;
    }

    div#aboutMe h1 {
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    }

}